<section class="section-register">
    <div class="row">
        <div class="col-md-12">
            <div class="register">
                <div class="register__form">
                    <form action="#" class="form">
                        <div class="u-margin-bottom-medium">
                            <h2 class="heading-secondary">
                                WElcome to the community
                            </h2>
                        </div>
                        <div class="form__group">
                            <input type="text" class="form__input" placeholder="fullname" id="fullname" required>
                            <label for="fullname" class="form__label">full name</label>
                        </div>
                        <div class="form__group">
                            <input type="email" class="form__input" placeholder="Email address" id="email" required>
                            <label for="email" class="form__label">Email address</label>
                        </div>
                        <div class="form__group">
                            <input type="password" class="form__input" placeholder="password" id="password" required>
                            <label for="password" class="form__label">choose a password</label>
                        </div>
                        <div class="form__group u-margin-bottom-medium">
                            <button class="btn btn--green">register &rarr;</button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</section>